@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Platypi:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=VT323&display=swap');
html {
  scroll-behavior: smooth;
  transition: all 0.3s ease;
}


body{
    background: #ffff;
}
.container-home {
    display: flex;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: auto;
    margin-right: auto;
   /* border: solid 4px red;*/
}


/* Estilo da Navbar */

   .abas-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    padding: 10px;
    gap: 25px;
}
.abas-nav a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-family: "Platypi", serif;
    cursor: pointer;
    position: relative;
 
    /*font-weight: bold;*/
    
}
.abas-nav a:hover {
    color: #CCCCCC;
    transition: 0.4s all ease;
    
}
.abas-nav a::after{
    content: " ";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #550FAD;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
.abas-nav a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.abas-link{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 25px;
    margin-left: 15%;
}
.abas-link img{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.abas-link img:hover{
    transform: scale(1.2);
    transition: 0.4s all ease;
}

/* Estilo do Header */
.titulos{
    margin-top: 100px;
    margin-bottom: 50px;
}

.nome, .mb-4{
    color: #550FAD;
    font-weight: 500;
    font-family: "Platypi", serif;
}
.titulos h1{
    
    font-size: 40px;
    align-items: end;
    color: black;
    font-family: "Platypi", serif;
    
}
.titulos p{
    font-size: 22px;
    color: #8C8686;
    font-family: "Poppins", sans-serif;
    
}
.botao{
    display: flex;
    gap: 130px;
    align-items: center;
   
}
.botao a{
    text-decoration: none;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
}
.contato{
  background: #550FAD;
  background: linear-gradient(0deg, #550FAD 0%, #2d045fc0 100%);
  color: white;
  border-radius: 5px;
}
.contato:hover{
    background: #550FAD;
    background: linear-gradient(0deg, #6619c4 0%, #7b30d6a2 100%);
    transition: all .3s;
}

.projeto{
  display: block;
  line-height: 25px;
  font-family: sans-serif;
  text-decoration: none;
  color: #550FAD;
  border: 2px solid #550FAD;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.projeto span{
  position: relative;
  z-index: 2;
}

.projeto:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #550FAD;
  transition: all .35s;
}

.projeto:hover{
  color: #fff;
}

.projeto:hover:after{
  width: 100%;
}
.foto-principal{
  border-radius: 100%;
    /*border: solid 5px green;*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 100px;
    margin-right: 50px;
  
}
.foto-principal::before, .foto-principal::after{
    content: '';
    position: absolute;
    border-radius: 100%;
    z-index: -1;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background: linear-gradient(45deg, #550FAD,#3E0C8F,#2C0766,#7A3FF0	,#A07CFF	,#C3A8FF	,#E0D1FF	,#F4EDFF,#550FAD,#3E0C8F,#2C0766,#7A3FF0	,#A07CFF	,#C3A8FF	,#E0D1FF	,#F4EDFF);
    background-size: 300%;
    animation: AnimarBorda 8s  linear infinite alternate;

}

@keyframes AnimarBorda {
  0%{
    background-position: 0;
  }
  100%{
    background-position: 300%;
  }
}

.foto-principal::after {
  filter: blur(70px);
}

/* Estilo da Seção sobre mim 
.sobre{
    border: solid 1px red;*/
   /* justify-content: center;
    align-items: center;
    white-space: nowrap;
    height: 60%;
    width: 60%;
    margin-top: 200px;*/
    
 .sobre h2{
  margin-top: 130px;
    justify-content: start;
    font-size: 30px;
    font-weight: 500px;
    align-items: end;
    color: #550FAD;
    font-family: "Platypi", serif;
    margin-bottom: 10px;
    }  
    .sobre p{ 
   justify-content: start;
    align-items: center;
    text-align: start;
    font-size: 16px;
    color: #8C8686;
    font-family: "Poppins", sans-serif;
  
    }
    .roxo{
        color: #550FAD;
        font-weight: 500;
    }
.img2-container{
       
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 210px;
        margin-left: 100px;
        margin-bottom: 50px;
        }
   .img2-container::before, .img2-container::after{
    content: '';
    position: absolute;
    border-radius: 10px;
    z-index: -1;
    width: calc(60% + 20px);
    height: calc(100% + 20px);
    background: linear-gradient(45deg, #550FAD,#3E0C8F,#2C0766,#7A3FF0	,#A07CFF	,#C3A8FF	,#E0D1FF	,#F4EDFF,#550FAD,#3E0C8F,#2C0766,#7A3FF0	,#A07CFF	,#C3A8FF	,#E0D1FF	,#F4EDFF);
    background-size: 300%;
    animation: AnimarBorda 8s  linear infinite alternate;
    }
    @keyframes AnimarBorda {
  0%{
    background-position: 0;
  }
  100%{
    background-position: 300%;
  }
}

.img2-container::after {
  filter: blur(70px);
}

/* Estilo da minhas habilidades */
.tituloHabilidades{
  color: #550FAD;
  margin-top: 100px;
  font-weight: 500;
  font-size: 25px;
  display: flex;
  justify-content: start;
  font-family: "Platypi", serif;
}
.textoHabilidades{
  font-size: 18px;
  color: #8C8686;
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
}
.front, .Back-end, .titulo-projetos{

  justify-content: center;
  text-align: center;
  font-family: "Platypi", serif;
  color: #550FAD;
  font-size: 20px;
}
.titulo-projetos p{
    font-size: 18px;
  color: #8C8686;
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
}
.container-slide{
  white-space: nowrap;
  overflow: hidden ;

}
.paginas-slide{
  display: inline-block;
  animation: anima 5s linear infinite ;

}
.paginas-slide img {
  padding: 15px;
}


@keyframes anima{
  0%{transform: translateX(0);
  }
  100%{transform: translateX(-50%);
  }
}

.card-title{
  color: #550FAD;
}
.card-text {
    font-family: "poppins", sans-serif;
    font-size: 14px;
    color: #000000;

} 
.btn {
    background-color: #550fad;
    border: solid 2px #550fad;
    font-family: "poppins", sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
}
.btn:hover {
    border: solid 2px #550fad;
    color: #550fad;
    background: transparent;
    transition: 0.3s all ease;
}
.titulos{
   font-family: "Platypi", serif;
  color: #550FAD;
  font-size: 25px;
}
.formulario{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #BC9DE3;
    border-radius: 8px;
    padding: 10px;
}

label{
    font-family: "Platypi", serif;
    font-weight: 500;
    font-size: 20px;
    color: #550FAD;
}


input, textarea{
 
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    border: 2px solid #823bd8; 
    border-radius: 4px;
}
input, label{
  width: 540px;
  height: 35px;
}
textarea{
  width: 540px;
  height: 100px;
}
.reserva{
    font-family: "Platypi", sans-serif;
    font-size: 20px;
    color: #ffffff;
}

@media (max-width: 991px) {
  .abas-link{
    display: none;
  }
}

@media (max-width: 768px) {
  .img2-container {
    margin-left: 0 !important;
    margin-top: 40px !important;
    justify-content: center;
  }
}


/*  Ajustes extras pra telas pequenas */
@media (max-width: 480px) {
  .form {
    padding: 12px;
  }

  input, textarea, button {
    font-size: 16px; /* evita zoom automático no iPhone */
  }
  input, label{
    width: 100%;
    height: 40px;
  }
  textarea{
    width: 100%;
    height: 120px;
  }
  .botao{
    flex-direction: column;
    gap: 20px;
  }
  .abas-link{
    display: none;
  }
}
